<section class="forge-tournament forge-tournament__detail" style="background-image: url('{$background}');">
    <div class="wrapped">
        <div class="info row">
            <div class="col-sm-6 text">
                <div class="head">
                    <div class="thumb" style="background-image: url('{$thumbnail}');"></div>
                    <h1>{$title}</h1>
                </div>
                <div class="enrollment-form">
                    <form class="ajax" action="{$action}" callback="forgeTournament.formCallback">
                        {$form}
                    </form>
                </div>
            </div>
            <aside class="col-sm-6 quick">
                <div class="start">
                    <span class="title">{$starts_in_label}</span>
                    <div>{$remaining_time}</div>
                </div>
                <div class="enrollment">
                    <span class="title">{$enrollment_label}</span>
                    <div>{$current_participants} / {$max_participants}</div>
                </div>
            </aside>
        </div>
        <div class="enrollment">

        </div>
    </div>
</section>
