<section class="tournament-phases">
    <h3>{$title}</h3>
    <ul class="phases-list">
       {loop="$phases"}
        <li class="card">
            <h4>
            <a href="{$value.edit_url}" target="_blank" title="{$value.edit_text}">
                {$value.title}
            </a>
            <small>{if condition="isset($value.edit_url)"}<a href="{$value.edit_url}" target="_blank" title="{$value.edit_text}"><i class="material-icons">create</i></a>{/if}</small>
            </h4>
        </li>
        {/loop}
        {if condition="$add_phase"}
        <li>
            {$add_phase}
        </li>
        {/if}
    </ul>
</section>