<div id="tournament-detail">
    <div class="hero" {if="$header_image"}style="background-image:url({$header_image});"{/if}>
        <div class="wrapped">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bar-left">
                        <h1>{$title}</h1>
                        {if="$signup"}
                        <div class="signup">
                            <a href="{$signup_url}" class="to-overlay btn btn-primary">{$signup_text}</a>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-infos">
        <div class="wrapped">
            <div class="row">
                <div class="col-lg-5">
                    {$intro}
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="discreet">{$teamsize_label}</p>
                            <h3>{$teamsize_value}</h3>
                        </div>
                        <div class="col-lg-6">
                            <p class="discreet">{$checkin_label}</p>
                            <h3>{$checkin_value}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="discreet">{$participants_label}</p>
                            <h3>
                                {if="$participants_value"}{$participants_value}{else}0{/if}
                                {if="$participants_max"} / {$participants_max}{/if}
                            </h3>
                        </div>
                        <div class="col-lg-6">
                            <p class="discreet">{$starttime_label}</p>
                            <h3>{$starttime_value}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="discreet">{$responsible_label}</p>
                            <h3>
                                {$responsible_value}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="price-phases wrapped">
        <div class="row">
            <div class="col-lg-6">
                <h3>{$prices_title}</h3>
                {loop="$prices"}
                    <div class="price-entry compact-infobox reveal">
                        <div class="icon-container"><div class="icon {$value.icon} {$value.add_class}"></div></div>
                        <div class="data">
                            <h4>
                                {if="isset($value.link) && strlen($value.link)"}<a href="{$value.link}" target="_blank">{/if}
                                {$value.title}
                                {if="isset($value.link) && strlen($value.link)"}</a>{/if}
                            </h4>
                            <p class="discreet">{$value.description}</p>
                        </div>
                    </div>
                {/loop}
            </div>
            <div class="col-lg-1">
            </div>            
            <div class="col-lg-5">
                {if="count($phases) > 0"}
                <h3>{$structure_title}</h3>
                <ul class="phases">
                    {loop="$phases"}
                    <li class="phase">
                        <div class="left">
                            <div class="icon {$value.icon}"></div>
                            <div class="text">
                                <h3>{$value.title}</h3>
                                <p class="discreet">{$value.description}</p>
                            </div>
                        </div>
                        <div class="status">
                            {$value.state}
                        </div>
                    </li>
                    {/loop}
                </ul>
                {/if}
            </div>
        </div>
    </div>

    {$builder_content}

</div>