<div class="form-group sa-base" data-label-open="{$data_label_open}" data-source-selector="{$pool_source_selector}">
    <input type="hidden"
           name="{$name}"
           value="{$value_json}"
           data-slot-count="{$slot_count}"
           class="form-control slots-output {if="isset($error) && $error"} has-error{/if}{if="isset($input_class)"} {$input_class}{/if}" {if="isset($id)"}id="{$id}"{/if}
           {if="isset($data_attrs)"}
               {loop="$data_attrs"}
                   data-{$key}="{$value}"
               {/loop}
            {/if}
    />
    <div>
        <ul class="sa-pool">
        </ul>
    </div>
    <div class="slot-assignment-wrapper">
        {$slot_assignment}
    </div>
</div>
