.standings, .schedule {
    margin-top: 60px;
}

#tournament-detail {

    .bracket {
        .round {
            .winner, .lower {
                display: flex;
                flex-direction: column;
                position: relative;
                padding-top: 30px;
                justify-content: space-around;
            }
        }
    }

    .encounter-entry {
        border-bottom: 1px solid #333;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }

        img {
            align-self: center;
        }

        position: relative;
        a.btn {
            position: absolute;
            left: 50%;
            margin-left: -60px;
            top: 7px;
            z-index: 10;
            height: auto;
            opacity: 0;
            transform: translateX(30px);
            padding: 3px 24px 7px 25px;
        }

        &:hover a.btn {
            opacity: 1;
            transform: translateX(0);
        }

        .left, .right {
            padding: 12px 24px;
            display: flex;
            width: 40%;
            min-width: 40%;
        }
        .left {
            padding-left: 0;
            img + p {
                padding-left: 20px;
            }
        }
        .right {
            justify-content: flex-end;
            padding-right: 0;
            p + img {
                margin-left: 20px;
            }
        }
    }
}

#tournament-detail {
    .row.standing-table {
        margin-bottom: 50px;
    }
}



/** OLD STUFFS BELOW, dont know if still in use.... */

.flip(@t) {
    @g: 9.81;
    @rotation: 36;

    transform: scale(0 - @g / 2 * pow(@t / 100, 2) / (@g / 2) + 2)
                rotateY(unit(@t*@rotation / 5,deg));
}

@keyframes coin {
    0% { .flip(100) }
    5% { .flip(90) }
    10% { .flip(80) }
    15% { .flip(70) }
    20% { .flip(60) }
    25% { .flip(50) }
    30% { .flip(40) }
    35% { .flip(30) }
    40% { .flip(20) }
    45% { .flip(10) }
    50% { .flip(0) }
    55% { .flip(10) }
    60% { .flip(20) }
    65% { .flip(30) }
    70% { .flip(40) }
    75% { .flip(50) }
    80% { .flip(60) }
    85% { .flip(70) }
    90% { .flip(80) }
    95% { .flip(90) }
    100% { .flip(100) }
}

.forge-tournament {
    .thumb {
        display: inline-block;
        height: 32px;
        width: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        vertical-align: middle;

        &:hover {
            animation-name: coin;
            animation-duration: 1s;
        }
    }

    .head {
        display: flex;
        align-items: center;

        h1, h2, h3 {
            display: inline-block !important;
            margin: 0;
        }
    }

    /* Views */
    &__detail {
        padding: 75px 0;

        background-position: right top;
        background-repeat: no-repeat;

        .info {
            .head {
                margin-bottom: 20px;
            }

            .quick {
                text-transform: uppercase;
                text-align: right;


                div > div {
                    margin-bottom: 20px;

                    font-size: 2rem;
                    line-height: 3rem;

                }

                .title {
                    font-size: .75rem;
                }
            }
        }

        .header {
            display: flex;
            align-items: center;

            h1 {
                display: inline-block;
                margin: 0;
            }
        }
    }

    /* Components */
    &__list {
        text-transform: uppercase;
        margin: 60px 0;

        .header {
            text-align: right;
            color: #4f4f4f;
            font-size: .625rem;
            position: relative;
            top: 10px;
        }

        .item {
            display: flex;
            height: 4em;
            align-items: center;

            &:not(:last-child) {
                border-bottom: 1px solid #4f4f4f;
            }

            .title,
            .participants,
            .startdate,
            .status {
                font-size: 1rem;
            }

            .main h3 {
                display: inline-block;
                margin: 0;
            }

            .participants,
            .startdate,
            .status,
            .enrollment {
                text-align: right;
            }

            .participants,
            .startdate {
                white-space: nowrap;
            }

            .title > a {
                color: #ffffff;
            }

            .mode {
                margin-left: .25em;
                color: #4f4f4f;
            }

            .btn {
                font-size: .8em;
                text-transform: none;
            }
        }
    }

    &__teaser {
        .teaser {
            min-height: 380px;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            .row {
                position: absolute;
                bottom: 30px;
                left: 0;
                right: 0;
                text-align: center;

                span {
                    line-height: 36px;
                }
            }
        }
    }
}

.ft-result-table-wrapper {
    overflow-x: auto;
}

.ft-result-table {
    th, td {
        padding: 10px 14px;
    }
}

.ps-base {
    button {
        width: 49%;
        max-width: 160px;
        pull-left;
        overflow-x: hidden;
    }

    .current {
        display: block;
        overflow: visible;
        margin: 0 auto;
        width: 120px;
        text-align: center;
    }
}

.tournament-phases {
    .phases-list {
        .card {
            h4 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                small {
                    float: right;
                }
            }
        }
    }
}