<div class="forge-tournament-list">
    <ul class="tournament">
        {loop="$tournaments"}
        <li>
            <img src="{$value.thumbnail}" class="thumb" style="float:left;padding-right:20px"/>
            <div style="height:64px">
                <a class="btn btn-primary pull-right" href="{$value.url_enrollment}">{$enrollmentText}</a>
                <h3><a class="block" href="{$value.url}">{$value.title}</a></h3>
                <span>{$value.max_participants} Teams / {$value.team_size} VS {$value.team_size}</span>
            </div>
            <div>
                <span class="date">Beginn: {$value.date}</span>
            </div>
        </li>
        {/loop}
    </ul>
</div>
