<div>
    {loop="$encounters"}
        <h6>Bracket Encounter Nr. {$key + 1}</h6>
        <div class="slot-group">
            <div data-slot-id="{$first.slotid}">
                <span class="slot-prefix">{$slot_prefix} {$first.slotid + 1}:</span>
                <span class="slot-label" data-slot-value="{$first.value}">{$first.label}</span>
            </div>
            <div data-slot-id="{$second.slotid}">
                <span class="slot-prefix">{$slot_prefix} {$second.slotid + 1}:</span>
                <span class="slot-label" data-slot-value="{$second.value}">{$second.label}</span>
            </div>
        </div>
    {/loop}
</div>