<div class="forge-tournament-teaser">
    <div class="teaser" style="background-image:url('{$tournament.big}');">
        <div class="row">
            <div class="col-sm-3">
                <span>{$tournament.max_participants} TEAMS</span>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary" href="{$tournament.url_enrollment}">{$enrollmentText}</a>
            </div>
            <div class="col-sm-3">
                <span>{$tournament.team_size} VS {$tournament.team_size}</span>
            </div>
        </div>
    </div>
</div>
