<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="always" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Phase Building">
            <file>phasegeneration/test.phasebuilder.php</file>
            <file>phasegeneration/test.tournamentfacade.php</file>
        </testsuite>
        <testsuite name="Data Handling">
            <file>datahandling/test.datasegments.php</file>
            <file>datahandling/test.datastorage.php</file>
        </testsuite>
        <testsuite name="Calculations">
            <file>calculations/test.nodes.php</file>
            <file>calculations/test.iterators.php</file>
            <file>calculations/test.datasegments.php</file>
            <file>calculations/test.iodata.php</file>
        </testsuite>
    </testsuites>
</phpunit>