<div id="tournament-detail">
    <div class="hero reduced" {if="$header_image"}style="background-image:url({$header_image});"{/if}>
        <div class="wrapped">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bar-left">
                        <h1>{$title}</h1>
                        <p class="lead">{$tournament_title}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="row schedule">
            <div class="col-md-12"><h2>{$schedule_title}</h2></div>
        </div>
        <div class="row">
            {loop="$schedule_entries"}
            <div class="col-md-6">
                <div class="encounter-entry{if="$value.is_own && ! $value.is_admin"} is-own{/if}">
                    <div class="left">
                        {if="$value.participant_left_image"}
                        <img src="{$value.participant_left_image}"  width="24" />
                        {/if}
                        <p>{$value.participant_left_title}</p>
                    </div>
                    {if="$value.has_result"}
                    <div class="res-left">
                        <p class="highlight">{$value.result_a}</p>
                    </div>
                    {/if}
                    <small>{$vs}</small>
                    {if="$value.has_result"}
                    <div class="res-right">
                        <p class="highlight">{$value.result_b}</p>
                    </div>
                    {/if}
                    <div class="right">
                        <p>{$value.participant_right_title}</p>
                        {if="$value.participant_right_image"}
                        <img src="{$value.participant_right_image}"  width="24" />
                        {/if}
                    </div>
                    {if="$value.set_result_link && ! $value.has_result"}
                        <a href="{$value.set_result_href}" 
                            class="btn to-overlay" 
                            refresh-on-close="{$value.set_result_refresh_href}" 
                            refresh-target="{$value.set_result_refresh_target}">{$set_result_label}</a>
                    {/if}
                </div>
            </div>
            {if="$value.index % 2 == 0"}
            </div>
            <div class="row">
            {/if}
            {/loop}
        </div>
    </div>

    <div class="wrapper">
        <div class="row standings">
            <div class="col-md-12"><h2>{$standings_title}</h2></div>
        </div>
        <div class="row standing-table">
        {loop="$standings"}
            <div class="col-md-6">
                <table class="default">
                    <tr>
                        <th colspan="3"><h3>{$value.title}</h3></th>
                        <th>{$games}</th>
                        <th><span class="tipster" title="{$wins_tooltip}">{$wins}</span></th>
                        <th><span class="tipster" title="{$draws_tooltip}">{$draws}</span></th>
                        <th><span class="tipster" title="{$losses_tooltip}">{$losses}</span></th>
                        <th style="text-align:right;">{$points}</th>
                    </tr>
                    {loop="$value.values"}
                    <tr>
                        <td style="max-width: 50px">{$value.position}</td>
                        <td>{if="$value.logo"}<img src="{$value.logo}" width="24" />{/if}</td>
                        <td>{$value.name}</td>
                        <td>{$value.games}</td>
                        <td>{$value.wins}</td>
                        <td>{$value.draws}</td>
                        <td>{$value.losses}</td>
                        <td style="text-align:right;">{$value.points}</td>
                    </tr>
                    {/loop}
                </table>
            </div>
            {if="$value.no % 2 == 0"}
            </div>
            <div class="row standing-table">
            {/if}
        {/loop}
        </div>
    </div>
</div>